*.txt
*.ipynb
*.pickle
*.xml
.json
.json
.data
*.data
*.json
*.csv
*.iml
*.local
*all_regions
*data_preprocess/__pycache__
nodejs-backend/
.p
*.p
*.pyc
/*.pyc
utlis/glove/__pycache__/__init__.cpython-34.pyc utlis/glove/__pycache__/tf_glove.cpython-34.pyc
pai_deploy/
pai_deploy pai_example.py pai_train.tar.gz
pai_train.tar.gz
*pickle
*npy
*/_vec_log/
*/*_vec_log/
.idea/.name
.DS_Store
data_preprocess/.DS_Store utlis/.DS_Store
data_preprocess/utils/test.db
data_preprocess/cooccurrence.db
data_preprocess/word_vectors/hudong.vector data_preprocess/word_vectors/wiki_zh.vec
data_preprocess/word_vectors/wiki_zh.vec
data_preprocess/word_vectors/hudong.vector
utlis/data
data_preprocess/cooccurrence.db-journal
